<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhangyh.management.admin.mapper.LogMapper">

    <resultMap id="BaseResultMap" type="com.zhangyh.management.admin.model.po.SysLog">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="businessType" column="business_type" jdbcType="VARCHAR"/>
            <result property="requestMethod" column="request_method" jdbcType="VARCHAR"/>
            <result property="operIp" column="oper_ip" jdbcType="VARCHAR"/>
            <result property="operName" column="oper_name" jdbcType="VARCHAR"/>
            <result property="operTime" column="oper_time" jdbcType="VARCHAR"/>
            <result property="operUrl" column="oper_url" jdbcType="VARCHAR"/>
            <result property="deleted" column="deleted" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,title,business_type,
        deleted,`request_method`,oper_ip,
        create_time,update_time,oper_name,oper_time,oper_url
    </sql>
</mapper>
